@model NHS111.Online.Tools.Models.FeedbackViewModels.ListFeedbackViewModel

    <tr>
        <th>
            @Model.DateAdded
        </th>
        <td>
            @Model.Text
        </td>
        <td>
            @Model.data.Gender
        </td>
        <td>
            @Model.data.Age
        </td>
        <td>
            @Model.data.Page
        </td>
        <td>
            @Model.data.SearchString
        </td>
        <td>
            @Model.data.StartingPathwayTitle
        </td>
        <td>
            @Model.UserId
        </td>
        <td>
            <p data-placement="top" data-toggle="tooltip" title="More Info">
                <button class="btn btn-xs btn-info" data-title="More Info" data-toggle="modal" data-target="#infoModal" data-json="@Model.PageId">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </button>
            </p>
        </td>
    </tr>