@using NHS111.Online.Tools.Models.FeedbackViewModels
@model IList<NHS111.Online.Tools.Models.FeedbackViewModels.ListFeedbackViewModel>
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool isFirstPage = !Context.Request.Query.ContainsKey("page") || Context.Request.Query["page"] == "1";
    int previousPage = isFirstPage ? 1 : int.Parse(Context.Request.Query["page"]) - 1;
    int nextPage = isFirstPage ? 2 : int.Parse(Context.Request.Query["page"]) + 1;
    string size = Context.Request.Query["size"];
    string startDate = Context.Request.Query["startDate"];
    string endDate = Context.Request.Query["endDate"];
    string query = Context.Request.Query["query"];


    string previousUrl = string.Format("?page={0}&size={1}&startDate={2}&endDate={3}", previousPage, size, startDate, endDate);
    string nextUrl =  string.Format("?page={0}&size={1}&startDate={2}&endDate={3}", nextPage, size, startDate, endDate);
}

<h1>NHS 111 Online Feedback</h1>


<nav>
    <ul class="pager">
        <li class="previous @(isFirstPage ? "disabled" : "")"><a href="@previousUrl"><span aria-hidden="true">&larr;</span> Newer</a></li>
        <li><button class="btn btn-default" type="button" data-toggle="collapse" data-target="#advancedSearch" aria-expanded="false" aria-controls="advancedSearch">Advanced Search</button></li>
        <li class="next"><a href="@nextUrl">Older <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>

<div class="collapse" id="advancedSearch">
    <form action="" method="GET" class="well">

        <div class="form-group">
            <label for="query">Search</label>
            <p>This can search the feedback text or the user ID.</p>
            <input class="form-control" id="query" name="query" value="@query">
        </div>
        <div class="form-group">
            <label for="startDate">Start date</label>
            <input type="date" class="form-control" id="startDate" name="startDate" placeholder="eg. 2019-01-25" value="@startDate">
        </div>
        <div class="form-group">
            <label for="endState">End date</label>
            <input type="date" class="form-control" id="endDate" name="endDate" placeholder="eg. 2019-02-25" value="@endDate">
        </div>
        <div class="form-group">
            <label for="endState">Amount per page</label>
            <input type="number" class="form-control" id="size" name="size" value="@size">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
        <a href="/Feedback/Home" class="btn btn-default">Reset</a>
    </form>
</div>

<div class="table">
    <table class="table table-hover" id="feedback-list">
        <thead>
            <tr>
                <th>Date Added</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Feedback</th>
                <th>Search Term</th>
                <th>Starting Pathway</th>
                <th>Page Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count(); i++)
            {
                @Html.Partial("_FeedbackRow", Model[i])
            }
        </tbody>
    </table>
</div>


<nav>
    <ul class="pager">
        <li class="previous @(isFirstPage ? "disabled" : "")"><a href="@previousUrl"><span aria-hidden="true">&larr;</span> Newer</a></li>
        <li class="next"><a href="@nextUrl">Older <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>

@Html.Partial("_Modal")